<h3><strong><em>Aggregated Data</em></strong> - Cities In Selected State</h3>
<hr>
<div *ngIf="!isLoaded">
    <div class="alert alert-info" role="alert">
        Loading...
    </div>
</div>

<div *ngIf="isLoaded">
    <div class="alert alert-info" role="alert">
        Found {{cities.length}} cities.
    </div>
</div>

<div *ngIf="cities!==null">

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="btn btn-success accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Custom Table Implementation
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>County</th>
                                        <th>Population</th>
                                        <th>Timezone</th>
                                        <th>Map</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let city of  cities">
                                        <tr>
                                            <td><a href="#/city/{{ city.id }}" target="_blank">{{ city.id }}</a></td>
                                            <td>{{ city.city }}</td>
                                            <td>{{ city.state }}</td>
                                            <td>{{ city.county }}</td>
                                            <td>{{ city.population }}</td>
                                            <td>{{ city.timezone }}</td>
                                            <td><a href="{{city | mapLink:'12'}}" target="_blank"><span
                                                        class="link">🗺</span></a></td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="btn btn-warning accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ng Bootstrap Basic Table Implementation
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ngbd-table-basic *ngIf="this.cities!=null" [cities]="this.cities"></ngbd-table-basic>
                </div>
            </div>
        </div>
        <div *ngIf="true" class="accordion-item">
            <h2 class="accordion-header">
                <button class="btn btn-danger accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ng Bootstrap Sortable Table Implementation
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ngbd-table-sortable *ngIf="this.cities!=null" [cities]="this.cities"></ngbd-table-sortable>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- NOTE: isLoaded to prevent error from showing before load, lifecycle tricks -->
<div *ngIf="isLoaded && (cities===null || cities.length <= 0)">
    <div class="alert alert-danger" role="alert">
        No cities found for the selected state.
    </div>
</div>

<hr>


<!-- <ngbd-table-sortable></ngbd-table-sortable> -->