<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" sortable="id" (sort)="onSort($event)" style="cursor:pointer;border:1px solid green;">#</th>
            <th scope="col" sortable="city" (sort)="onSort($event)" style="cursor:pointer;border:1px solid green;">City
            </th>
            <th scope="col" style="cursor:pointer;border:1px solid red;">State</th>
            <th scope="col" sortable="county" (sort)="onSort($event)" style="cursor:pointer;border:1px solid green;">
                County</th>
            <th scope="col" sortable="population" (sort)="onSort($event)"
                style="cursor:pointer;border:1px solid green;">Population</th>
        </tr>
    </thead>
    <tbody>
        @for (city of cities; track city.id;let i = $index ) {
        <tr>
            <th scope="row">{{ i + 1 }} &nbsp;(id:<a href="#/city/{{ city.id }}" target="_blank">{{ city.id }}</a>)
            </th>
            <td>
                {{ city.city }}
            </td>
            <td>{{ city.state }}</td>
            <td>{{ city.county }}</td>
            <td>{{ city.population | number }}</td>
        </tr>
        }
    </tbody>
</table>