<form>
    <input type="text" name="find" [(ngModel)]="this.find" placeholder="Search city" class="form-control bg-info">
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">County</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Timezone</th>
            <th scope="col">Ranking</th>
            <th scope="col">Population</th>
        </tr>
    </thead>
    <tbody>
        @for (city of cities; track city.id; let i = $index) {
        <ng-container *ngIf="city.city.toLowerCase().indexOf(this.find.toLowerCase())>-1">

            <tr>
                <th scope="row">{{ i + 1 }} &nbsp;(id:<a href="#/city/{{ city.id }}" target="_blank">{{ city.id }}</a>)
                </th>
                <td>
                    {{ city.city }}
                </td>
                <td>
                    {{ city.state }}
                </td>
                <td>
                    {{ city.county }}
                </td>
                <td>
                    {{ city.lat }}
                </td>
                <td>
                    {{ city.lng }}
                </td>
                <td>
                    {{ city.timezone }}
                </td>
                <td>
                    {{ city.ranking | number }}
                </td>
                <td>
                    {{ city.population | number }}
                </td>
            </tr>

        </ng-container>
        }
    </tbody>
</table>