<h1>About</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Overview</h1>
            <p><strong>'Event Tracker'</strong> is a broad term for anything that keeps track of information over time.
            </p>
            <p>This project will use a MySQL database to practice the concepts of a well formed REST API. Included will
                be the prinicpal route handlers common for API Development.
            </p>
            <p>This application includes an 'creative commons' dataset of over 31k Cities which are used with the API
                to demonstrate the REST API methods and data gathering.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Credits</h1>
            <p>The dataset that was used to populate the 31k + cities for this project was downloaded for free from
                <a target="_blank"
                    href="https://simplemaps.com/data/us-cities">https://simplemaps.com/data/us-cities.</a>
            </p>
            <p>This dataset (free version) asks that the source be linked and is therefore noted here.</p>
            <p>If you use the Basic (free) database, you must link back to this page:
                <a target="_blank"
                    href="https://simplemaps.com/data/us-cities">https://simplemaps.com/data/us-cities.</a> from a
                public webpage where you are using the data.
            </p>
            <p>If you want to use the data internally, you must link back to this page from your firm's website on a
                page that can be easily found though links on the root domain.</p>
            <p>The link must be clearly visible to the human eye.</p>
        </div>
    </div>
</div>
<h3>Please feel free to consult further information at the following link!</h3>
<a href="https://github.com/pasciaks/EventTrackerProject" target="_blank">README</a>