<h2>About</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-center"><strong>'Event Tracker'</strong> is a broad term for anything that keeps track of
                information over time.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Features</h3>
            <ul>
                <li>REST API, CRUD Operations</li>
                <li>MySQL Database</li>
                <li>Spring Boot</li>
                <li>Angular</li>
                <li>HTML, CSS, Bootstrap</li>
                <li>Custom Pipe to generate map links</li>
                <li>URL activatedRoute.paramMap for detail view</li>
                <li>Modal Component using Input and Output</li>
                <li>Detail view wtih Input of selected city</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Credits</h3>
            <p>The dataset that was used to populate the 31k + cities for this project was downloaded for free from
                <a target="_blank"
                    href="https://simplemaps.com/data/us-cities">https://simplemaps.com/data/us-cities.</a>
            </p>
            <p>This dataset (free version) asks that the source be linked and is therefore noted here.</p>
        </div>
    </div>
</div>
<h4>Please feel free to consult further information at this <a href="https://github.com/pasciaks/EventTrackerProject"
        target="_blank">README</a> link!</h4>