<h2>Welcome!</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-center"><strong>'Event Tracker'</strong> is a broad term for anything that keeps track of
                information over time.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Key Features</h3>
            <ul>
                <li>Reuse of detail view using Input to pass data into components</li>
                <li>URL activatedRoute.paramMap for selected city URL view</li>
                <li>Implemented isLoading in tandem with OnInit in aggregate view</li>
                <li>Add/Edit Modal Component using Input and Output</li>
                <li>Custom Pipe to generate map links</li>
            </ul>
        </div>
    </div>
</div>