<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add/Edit</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form *ngIf="childData!= null">

            <!-- {{ childData | json }} -->

            <!-- id: number = 0,
            city: string = '',
            state: string = '',
            county: string = '',
            lat: number = 0,
            lng: number = 0,
            population: number = 0,
            density: number = 0,
            timezone: string = '',
            ranking: number = 0,
            zips: string = '' -->

            <div class="row d-none">
                <div class="col-3">
                    <label for="id">Id</label>
                </div>
                <div class="col">
                    <input disabled type="text" class="form-control" id="id" name="id" [(ngModel)]="childData.id">
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label for="city">City</label>
                </div>
                <div class="col">
                    <input required type="text" class="form-control" id="city" name="city" [(ngModel)]="childData.city">
                    <p class="text-danger" *ngIf="childData.city === ''">City must not be empty</p>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label for="state">State</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="state" name="state" [(ngModel)]="childData.state">
                    <p class="text-danger" *ngIf="childData.state === ''">State must not be empty</p>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label for="county">County</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="county" name="county" [(ngModel)]="childData.county">
                    <p class="text-danger" *ngIf="childData.county === ''">County must not be empty</p>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label for="lat">Latitude</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="lat" name="lat" [(ngModel)]="childData.lat">
                    <p class="text-warning" *ngIf="childData.lat === 0">Latitude should not be 0</p>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label for="lng">Longitude</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="lng" name="lng" [(ngModel)]="childData.lng">
                    <p class="text-warning" *ngIf="childData.lng === 0">Longitude should not be 0</p>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label for="population">Population</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="population" name="population"
                        [(ngModel)]="childData.population">
                    <p class="text-warning" *ngIf="childData.population === 0">Population should not be 0</p>
                </div>
            </div>

            <div class="row">
                <div class="col-3">

                    <label for="density">Density</label>
                </div>
                <div class="col">

                    <input type="text" class="form-control" id="density" name="density" [(ngModel)]="childData.density">
                    <p class="text-warning" *ngIf="childData.density === 0">Density should not be 0</p>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label for="timezone">Timezone</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="timezone" name="timezone"
                        [(ngModel)]="childData.timezone">
                    <p class="text-danger" *ngIf="childData.timezone === ''">Timezone must not be empty</p>
                </div>
            </div>

            <div class="mb-1">
                <div class="row">
                    <div class="col-3">
                        <label for="ranking">Ranking</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="ranking" name="ranking"
                            [(ngModel)]="childData.ranking">
                        <p class="text-warning" *ngIf="childData.ranking === 0">Ranking should not be 0</p>
                    </div>
                </div>
            </div>

            <div class="mb-1">
                <div class="row">
                    <div class="col-3">
                        <label for="zips">Zips</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="zips" name="zips" [(ngModel)]="childData.zips">
                        <p class="text-danger" *ngIf="childData.zips === ''">Zips must not be empty</p>
                    </div>
                </div>
            </div>

            <!-- <div class="mb-3">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                        #dp="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()"
                        type="button"></button>
                </div>
            </div> -->

            <button *ngIf="validateInput(childData) === true" class="btn btn-outline-success bi bi-calendar3 mx-2"
                (click)="sendData();modal.close('Saved/Updated')" type="button">Submit</button>

            <button class="btn btn-outline-warning bi bi-calendar3 mx-2"
                (click)="cancel('Cancel');modal.close('Cancel click')" type="button">Cancel</button>
        </form>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
    </div>
</ng-template>

<div class="row">
    <div class="col">
        <button *ngIf="childData!=null" class="btn btn-lg btn-outline-primary" (click)="open(content)">Open Modal
            Form</button>
    </div>
</div>

<!-- <hr /> -->

<!-- <pre>{{ closeResult }}</pre> -->