<br />

<div class="row">
    <div class="col text-center">
        <app-modal *ngIf="this.adding!=null" [childData]="this.adding" (cancelEvent)="cancelEvent('Adding Cancel')"
            (childEvent)="childEvent(this.adding)"></app-modal>
        <app-modal *ngIf="this.editing!=null" [childData]="this.editing" (cancelEvent)="cancelEvent('Editing Cancel')"
            (childEvent)="childEvent(this.editing)"></app-modal>
    </div>
</div>

<hr />

<div class="container" *ngIf="this.selected !== null">
    <div class="row">
        <div class="col">
            <h1>City Selected</h1>
            <div>
                <p>id: {{ selected.id }}</p>
                <p>city: {{ selected.city }}</p>
                <p>state: {{ selected.state }}</p>
                <p>county: {{ selected.county }}</p>
                <p>lat: {{ selected.lat }}</p>
                <p>lng: {{ selected.lng }}</p>
                <p>population: {{ selected.population }}</p>
                <p>density: {{ selected.density }}</p>
                <p>timezone: {{ selected.timezone }}</p>
                <p>ranking: {{ selected.ranking }}</p>
                <!-- <p>zips: {{selected.zips}}</p> -->
            </div>
        </div>
    </div>
    <button class="btn btn-warning" (click)="this.cancelSelect()">Cancel</button>
</div>

<div class="container" *ngIf="this.editing !== null">
    <div class="row">
        <div class="col">
            <h1>Edit</h1>
            {{ this.editing.id }}
        </div>
    </div>
</div>

<div class="container" *ngIf="this.adding !== null">
    <div class="row">
        <div class="col">
            <h1>Add</h1>
            {{ this.adding | json}}
        </div>
    </div>
</div>

<div class="container" *ngIf="this.selected==null && this.editing==null && this.adding==null">
    <div class="row">
        <div class="col">
            <button class="btn btn-warning" (click)="this.add()">Add</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>city</th>
                        <th>state</th>
                        <th>county</th>
                        <th>Select</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let city of cities">
                        <tr>
                            <td>{{ city.id }}</td>
                            <td>{{ city.city }}</td>
                            <td>{{ city.state }}</td>
                            <td>{{ city.county }}</td>
                            <td>
                                <button class="btn btn-warning" (click)="this.select(city)">
                                    Select
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-warning" (click)="this.edit(city)">
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger" (click)="this.delete(city)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>